name: CI Workflow

on:
  push:
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    name: Build Laravel App
    runs-on: ubuntu-latest
    steps:
      - name: Resuable Steps
        uses: ./.github/workflows/reusable.yml
        with:
          cache-key: ${{ github.sha }}-php-vendor-cache
  test:
    name: Test the Application
    runs-on: ubuntu-latest
    needs: [build]
    services:
      mysql:
        image: mysql:latest
        ports:
          - 3306:3306
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: false
          MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
          MYSQL_USERNAME: root
          MYSQL_DATABASE: test
    steps:
      - name: Common Steps
        uses: ./.github/workflows/reusable.yml
        with:
          cache-key: ${{ github.sha }}-php-vendor-cache
      - name: Migrate the Database
        run: |
          php artisan migrate

      - name: Run Unit Testing
        run: |
          php artisan test
