name: CI Workflow

on:
  push:
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    name: Build Laravel App
    uses: ./.github/workflows/build.yaml
    with:
      php-version: "8.3"
  # test:
  #   name: Test Laravel App
  #   needs: [build]
  #   uses: ./.github/workflows/test.yaml
  #   with:
  #     php-version: "8.3"
  sonarcloud:
    name: Scan Security with SonarCloud
    needs: [build]
    uses: ./.github/workflows/sonarcloud.yaml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
      SONAR_PROJECT: ${{ secrets.SONAR_PROJECT }}
    with:
      php-version: "8.3"
