name: CI Workflow

on:
  push:
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    name: Build Laravel App
    uses: ./.github/workflows/build.yaml
  test:
    name: Test the Application
    runs-on: ubuntu-latest
    needs: [build]
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: DJNosjhO
          MYSQL_DATABASE: laravel_db
          MYSQL_USER: keyvalue_user
          MYSQL_PASSWORD: 6zFJfBEN
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"

      - name: Restore the Cache
        id: cache
        uses: actions/cache@v4.0.2
        with:
          path: ./vendor
          key: ${{ github.sha }}-php-vendor-cache

      - name: Composer Install
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          composer install

      - name: Create .env
        run: |
          cp .env.testing .env

      - name: Generate the key
        run: |
          php artisan key:generate

      - name: Migrate the Database
        run: |
          php artisan migrate

      - name: Run Unit Testing
        run: |
          php artisan test
